body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

p{
    font-size: medium;
}

nav ul {
    list-style: none;
    background-color:blue;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}